<!DOCTYPE html>
<html lang="en">
    <head>
         <!--^^ Determines the Doc Type, Declare language to English, Begin Head Section, Ensure webpage is encoded in UTF-8-->
        <meta charset="UTF-8">
         <!--This forces values to fit on the device its being viewed on-->
         <meta name="viewport" content="device=device-width, initial-scale=1.0">
          <!-- Creates the title that appears in the url-->
        <title>About Me</title>
         <!--States what Stylesheet is being used by linking it-->
        <link rel="stylesheet" type="text/css" href="/stylesheets/mainStyle.css">
         <!--Declares the following is under the Banner Section-->
        <div id="banner">
                
             <!--Creates a seperate Navagation-->
            <%- include('header')%>
            
        </div>
        
        
        
    </head> 
     <!--Body Section Starts-->  
    <body>
         <!--The following is in the wrapper id-->
        <nav id="wrapper">
            <!--Links a Video that preloads and plays automatically, but muted, loops--> 
            <video id = "myvid"  width="400vh" height="auto" poster="/images/Subject.png" preload="auto" autoplay muted loop >
                 <!--Compatiability-->
                <source src="/images/Intro.mov" type="video/mp4">
                <source src="/images/Intro.mov" type="video/ogg">
            </video>
             <!--Break Line :D-->
            <br>
             <!-- Displays Images each with thier own label-->
            <img src="/images/stitch.png" alt="Stitch" class="stitch">
            <img src="/images/Fortnite.png" alt="Fortnite" class="fortnite">
            <img src="/images/Minecraft.png" alt="Minecraft" class="minecraft">
             <!--Another class that holds a bunch of text-->
            <nav class="txtabout">
                <p>
                    I'm Emily! <br><br>
                    I have a dog named Maya<br>
                    I have 4 siblings<br><br>
                    I play games like<br>
                    Phasmophobia, Minecraft,<br>
                    Raft and Fortnite <br><br>
                    I collect Stitch Plushies <br><br>
                    My favourite movie is <br>
                    The Princess and the Frog <br><br>
                    My favourite colour is <br>
                    Deep Sea Blue #123456 <br>
                    

                </p>
                
            </nav>
        </nav>
        <%- include('footer')%>
    </body>
    
</html>
