<!DOCTYPE html>
<html lang="en">
    <head>
        <!--^^ Determines the Doc Type, Declare language to English, Begin Head Section, Ensure webpage is encoded in UTF-8-->
       <meta charset="UTF-8">
        <!--This forces values to fit on the device its being viewed on-->
        <meta name="viewport" content="device=device-width, initial-scale=1.0">
         <!-- Creates the title that appears in the url-->
       <title>ContactMe</title>
        <!--States what Stylesheet is being used by linking it-->
       <link rel="stylesheet" type="text/css" href="mainStyle.css">
        <!--Declares the following is under the Banner Section-->
       <div id="banner">
               
            <!--Creates a seperate Navagation-->
            <%- include('header')%>    
       </div>  
    </head>   
     <!--Body Section Starts-->  
     <body>
        <!--The following is in the wrapper id-->
        <div id="wrapper"> 
            <!--Creates a contactbackground divider-->
            <div id="contactbackground">
                <!--Here's Some text output-->
                <h1>Need to get ahold of me? Here's how!</h1>
                <!--A form element that has the action attribute, sends the user to this page once submitted.-->
                <form action="submitComplete"  enctype="text/plain" method="post" name="Form">
                <p>
                    <!--Makes a Label names "Name"-->
                    <label >Name : </label><br>
                    <!--Creates a Box that accepts a required input, and displays "Enter your name here" until clicked-->
                    <input type="text" name="name"  placeholder="Enter your name here" required>
                </p>
                <p>
                    <!--Makes a Label names "Email"-->
                    <label >Email : </label><br>
                    <!--Creates a Box that accepts a required input, and displays "Enter your email here" until clicked-->
                    <input type="email" name="email" placeholder="Enter your email here" required>
                </p>
                <p>
                    <!--Makes a Label names "Comments"-->
                    <label >Comments : </label><br>
                    <!--Creates a Box that accepts a required input, and displays "Enter messagehere" until clicked-->
                    <textarea name="feedback" rows="8" placeholder="Enter message here"></textarea>
                </p>
                <p>
                    <br>
                    <!--Creates a Reset button-->
                    <button type="reset" value="reset">Reset</button>
                    <!--Creates the submit button-->
                    <button type="submit" value="submit">Submit</button>
                    
                </p>
                </form>
             </div>
            
        </div> 
       
        
        <footer>© 2024 by E.S All Rights Apply  </footer>
    </body>
    
</html>
