<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <!--A Footer that is on every page-->
<footer>© 2024 by E.S All Rights Apply  </footer> 
</body>

</html>
