<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <!--A Footer that is on every page-->
<footer>© 2024 by E.S All Rights Apply 
    <a href="https://github.com/EmilySkinnerOTU" >
        <img src="/images/github.png" alt="Github" class="footericon"></a>
        <a href="https://www.linkedin.com/in/emily-skinner-7b9333290/" >
            <img src="/images/linkedin.png" alt="LinkedIn" class="footericon"></a> </footer> 
</body>

</html>
