<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <div id="banner">
        <nav >
            <!--Displays a Picture labeled Emily Skinner-->
            <img src="/images/Profile_picture.png" alt="Emily Skinner" class="pfp">
            <!--h4 tag used to be customized in the CSS-->
            <h4>
                <!--  links to other pages. Its the Navagation Bar-->
                <a href="mainPage" >Home</a> |
                <a href="aboutMe">About Me</a> |
                <a href="projects">Projects</a> |
                <a href="contactMe">Contact Me</a> 
            </h4>

        </nav>
    </div>
</head>
<body>
    
</body>
</html>