<!DOCTYPE html>
<html lang="en">
    <head>
        <!--^^ Determines the Doc Type, Declare language to English, Begin Head Section, Ensure webpage is encoded in UTF-8-->
       <meta charset="UTF-8">
        <!--This forces values to fit on the device its being viewed on-->
        <meta name="viewport" content="device=device-width, initial-scale=1.0">
         <!-- Creates the title that appears in the url-->
       <title>Projects</title>
        <!--States what Stylesheet is being used by linking it-->
       <link rel="stylesheet" type="text/css" href="mainStyle.css">
        <!--Declares the following is under the Banner Section-->
       <div id="banner">
               
            <!--Creates a seperate Navagation-->
            <%- include('header')%>    
       </div>  
    </head>   
     <!--Body Section Starts-->  
     <body>
        <!--The following is in the wrapper id-->
        <nav id="wrapper">
            <!--Displays a GIF at the top of the wrapper-->
            <img src="/images/Walking.gif" alt="Walking Animation" class="topban">
            <!--Creates a Class that holds links to previous works-->
            <section class="IntroProject">
                <h2>Here's Some Projects I've Done</h2> <br> <br><br> <br>
                <a href="https://docs.google.com/document/d/1C2eMv3DLt-1iqQr8r9c6zX7SCpwGJn21EfeY8nqn2-o/edit?usp=sharing" >What Makes a Leader?</a><br><br><br><br>
                <a href="https://docs.google.com/document/d/1KvziucsHrtnNz_5H3GA8lc50cxMoksZB-XMclyyblEQ/edit?usp=sharing" >Quantum Computers</a><br><br><br><br>
                <a href="https://docs.google.com/document/d/1vq_c6Jb_GOiS7uP4gGr2dYFDhJGBQSxsBwvJhD6ZZqY/edit?usp=sharing" >South Korea Trade Manual</a> 
            </section>
        </nav>
        <!--A Footer that is on every page-->
        <footer>© 2024 by E.S All Rights Apply  </footer>
    </body>
    
</html>