@charset "UTF-8"; 
/*Main Commands Used
It goes in order of me scrolling through all the commands I used

font-size - Changes the size of the text
transform:translateY(); - Moves the directed object down
color:; - changes the color of the desired object
height - changes the height/ identify users screen height
width - changes the width or can be used to identify the full users screen width and act accordingly.
position - States what position the object is concidered as (Absolute, doesn't move from where you set it)
justify-content - allign items
text align - alligns text to desired position
top - moves the item to the top and the goes down depending on the number
gap - used to make gaps between objects so they don't overlap
left, right - helps moves objects to desired place
bottom- helps items stick to bottom and goes up with numbers
font-family -determines what fonts to used to fit the users browser from a list
padding - gives space from the desired side (top, right, left, bottom)
display -determins how an object is rendered
flex-wrap- forces items to fit the screen even if tghe move to seperate lines
margin- creates space around objects/elements

For any other questions about my code feel free to message me!


*/

/* For Laptops and Big Devices */
@media (min-width: 1025px) {
  /*Contact Me Stuff */
  #wrapper form input, textarea{
    font-size: 4vh;
  }
#wrapper button{
  transform: translateY(-50px);
  font-size: 25px; 
}
#wrapper form{
  color:white;
  height:80vh ;
  position:absolute;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  top: 8vh;
  gap: 2px;
  width: 100%;
}
#contactbackground h1{
  color:white;
  text-align: center;
  width: 100%;
  position:absolute;
  justify-content: center;
  font-size: 40px;
}
/* Projects Section*/
  .IntroProject a, .IntroProject h2 {
    width: 100%;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 20vh;
    
  }
 
  .topban{
    width: 80%;
    left: 10%;
    position: absolute;
    top: 5vh; 
   
  }
  /* About Me Section*/
  .txtabout{
    position: absolute;
    left: 5vh;
    top: 5vh;
    font-size: 28px;
    color:azure
  }
  .stitch{
    position: absolute;
    right: 5vh;
    top: 15vh;
    width: 15vh;
    height: auto;
  }
  .fortnite{
    position: absolute;
    align-items: center;
    right: 5vh;
    
    width: 15vh;
    height: auto;
  }
  .minecraft{
    position: absolute;
    right: 5vh;
    top: 60vh;
    width: 15vh;
    height: auto;
  }
  #myvid{
    position: absolute;
    left: 50vh;
    width: 40vh;
    height: auto;
    
  }
  /* General Sections - Apply to all mostly*/
  body 
  { 
    background: linear-gradient(#212A31, #D3D9D4); 
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

  } 
  #wrapper { 
    position: relative;
    width: 80%;
    height: 90vh; 
    margin-left: auto;
    margin-right: auto;
    background-color:#2E3944; 
  } 
  #footer 
  { 
    padding-left: 3%;
    height:2%;
    padding-bottom: 2%; 
  }
  #banner
  { 
    height:100px; 
    background-color: #212A31; 
    
  } 
  nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  nav h4 {
    
    width: auto;
    height: 40%;
    font-size: 25px;
    
    
   
    margin-bottom: 30px;
  }
  nav h4 a{
    color: white;
  }
  .pfp{
    margin-top: auto;
    margin-bottom: auto;
    padding-left:10px;
    transform: translateY(2px);
    height: auto;
    width: 75px;
    padding-top: 10px;
    
  }
  /*Home Page Section */
  .Intro{
    color: white;
    padding-left: 10px;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    
  }
  .imgMe{
    padding-top: 1%;
    height: auto;
    width: 300px;
    position: absolute;
    bottom:0px;
    right: 0px;
    
    
  }
  .icons a, .icon{
    color:white;
    width: 100px;
  }
  .footericon{
    color:white;
    width: 35px;
  }
}
/* For Iphones */
@media (max-device-width: 600px) {
  /*Contact me Section */
  #wrapper form input, textarea{
    font-size: 3vh;
  }
  #wrapper button{

    font-size: 20px;
    
    
  }
  #wrapper form{
    
    color:white;
    height:80vh ;
    position:absolute;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    top: 10vh;
    gap: 5px;
    width: 100%;
  }
  
  #contactbackground h1{
    color:white;
    text-align: center;
    width: 100%;
    position:absolute;
    justify-content: center;
    font-size: 20px;
  }
  /*Projects Section */
  .IntroProject a, .IntroProject h2 {
    width: 100%;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 0vh;
    
  }
  .topban{
    width: 100%;
    left: 0%;
    position: absolute;
    top: 5vh; 
  }
  /* About Me Section */
  .txtabout{
    position: absolute;
    left: 0vh;
    top: 0vh;
    font-size: 14px;
    color:azure
  }
  .stitch{
    position: absolute;
    right: 0vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  .fortnite{
    position: absolute;
    right: 18vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  .minecraft{
    position: absolute;
    left: 0vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  #myvid{
    position: absolute;
    top: 10px;
    right: 0vh;
    width: 150px;
    height:auto;
     
    
  }
  /*General Section */
  body 
  { 
background: linear-gradient(#212A31, #D3D9D4); 

font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

  } 
  #wrapper { 
position: relative;
width: 90%;
height: 90vh; 
margin-left: auto; 
margin-right: auto; 
background-color:#1c2630; 
  } 
  nav h1, h3{
    font-size: 35px;
  }
  .imgMe{
padding-top: 1%;
height: auto;
width: 100px;
position: absolute;
bottom:0px;
right: 0px;

  }
  nav h4 {

width: auto;
height: 40%;
font-size: 15px;



margin-bottom: 20px;
  }
  .pfp{
margin-top: auto;
margin-bottom: auto;
padding-left:5px;
transform: translateY(2px);
height: auto;
width: 40px;
padding-top: 10px;

  }
  #footer 
  { 
padding-left: 3%;
height:2%;
padding-bottom: 2%; 
  }
  #banner{ 
height:75px; 
background-color: #212A31; 

  } 
  

  nav{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-between;
  }
  nav h4 a{
  color: white;
  }
  /*Home Page */

  .Intro{
color: white;
padding-left: 10px;
font-size: 50px;
margin-top: auto;
margin-bottom: auto;
vertical-align: middle;

  }

 .artfight{
  transform: translateX(50px);
 } 

  .icons a, .icon{
color:white;
width: 50px;
height: auto;
transform: translateY(100px);

  }
}
/* For Ipads */
@media (max-width: 1024px) and (min-width: 601px) {
  /* Contact Me Section */
  #wrapper form input, textarea{
    font-size: 3vh;
  }
#wrapper button{

  font-size: 30px;
  
  
}
#wrapper form{
  color:white;
  height:80vh ;
  position:absolute;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  top: 10vh;
  gap: 5px;
  width: 100%;
}

#contactbackground h1{
  color:white;
  text-align: center;
  width: 100%;
  position:absolute;
  justify-content: center;
  font-size: 40px;
}
/* Projects Section*/
  .IntroProject a, .IntroProject h2 {
    width: 100%;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 15vh;
    
  }
 
  .topban{
    width: 80%;
    left: 10%;
    position: absolute;
    top: 5vh; 
  }
  /* About Me Section*/
  .txtabout{
    position: absolute;
    left: 0vh;
    top: 5vh;
    font-size: 24px;
    color:azure
  }
  .stitch{
    position: absolute;
    right: 0vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  .fortnite{
    position: absolute;
    right: 24vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  .minecraft{
    position: absolute;
    left: 0vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  #myvid{
    position: absolute;
    left: 50%;
    top: 5vh;
    width: 300px;
    height:auto;
    
  }
  /* General Section*/
  body 
{ 
 
  background: linear-gradient(45deg, #212A31, #D3D9D4); 
  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

} 
#wrapper { 
  position: relative;
  width: 80%;
  height: 90vh; 
  margin-left: auto; 
  margin-right: auto; 
  background-color:#20272f; 
} 
.imgMe{
  padding-top: 1%;
  height: auto;
  width: 250px;
  position: absolute;
  bottom:0px;
  right: 0px;
  
  
}
.pfp{
  margin-top: auto;
  margin-bottom: auto;
  padding-left:10px;
  transform: translateY(2px);
  height: auto;
  width: 70px;
  padding-top: 5px;
  
}
#footer 
{ 
  padding-left: 3%;
  height:2%;
  padding-bottom: 2%; 
}
#banner
{ 
  height:100px; 
  background-color: #212A31; 
  
} 


nav{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav h4 {
  
  width: auto;
  height: 40%;
  font-size: 25px;
  
  
 
  margin-bottom: 30px;
}
nav h4 a{
  color: white;
}
/* Home Page Section*/
.Intro h1, h3{
  transform: translateY(-100px);
}
.Intro{
  color: white;
  padding-left: 10px;
  font-size: 60px;
  margin-top: auto;
  margin-bottom: auto;
  

  
}
.icons a, .icon{
  color:white;
  width: 70px;
  transform: translateY(10vh);
}
}